{% extends '::base_membre.html.twig' %}

{% block style%}
   
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock %}

{% block content %}
    <h1>Covoiturage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Placesdispo</th>
                <td>{{ entity.placesDispo }}</td>
            </tr>
            <tr>
                <th>Trajetsimple</th>
                <td>{{ entity.trajetSimple }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{{ entity.dateDepart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateretour</th>
                <td>{{ entity.dateRetour|date('Y-m-d H:i:s') }}</td>
            </tr>
            
            <tr>
                <th>Addressdepart</th>
                <td>{{ entity.addressDepart }}</td>
            </tr>
            <tr>
                <th>Addressretour</th>
                <td>{{ entity.addressRetour }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ entity.resume }}</td>
            </tr>
        </tbody>
    </table>

{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.threadComment.id } %}
{% endblock %}
