{% extends '::base.html.twig' %}

     {% block title %}Inscription{% endblock %}

	 {% block stylesheets %} 
	 	{{ parent() }}  
		
		<link href="{{ asset('Resources/bootstrap-datepicker3.min.css') }}" type="text/css" rel="stylesheet" />

	 
	 {% endblock %}

	 {% block javascripts %}
         {{parent() }}
              
              <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
             <script src="{{asset('Resources/bootstrap-datepicker.min.js') }}"></script>
             <script src="{{asset('Resources/bootstrap-datepicker.fr.min.js') }}"></script>
             <script src="{{asset('Resources/Modernizr.js') }}"></script>
             <script src="{{asset('Resources/Bootstrap-growl/jquery.bootstrap-growl.js') }}"></script>

              <script type="text/javascript">
		             $(document).ready(function  () {
		             
		             if(Modernizr.inputtypes.date==false)
		             	
		             	 {
		             	     $('.datepicker').datepicker({
		   				     startDate : '-21915d',
		   				     endDate   : '-6574d',
		   				     language : 'fr',
		   				     todayHighlight :true,
		   				     weekStart : 1 
				                                 })
                         }
   					
   					if(document.getElementById('xm_userbundle_user_localite')!=null)	
   					autocomplete = new google.maps.places.Autocomplete(document.getElementById('xm_userbundle_user_localite'), {     types: ['geocode'], componentRestrictions: {country: 'sn'} });	  
   				
		 
		           });           
          
          </script>	
	 {% endblock %}

	 {% block content %}
	  <div class="row" >
	  	    <div  class=" col-sm-offset-1 col-sm-6">


	         <h1 style="margin-top:60px">Inscription </h1>    	
               {{ form(form) }}
               	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">	<input type="text">      

	       </div>
	  </div>
	 {% endblock content %}

	 {% block footer %}
        
       {{parent()}}
	  {% endblock footer%}
