{% extends '::base.html.twig' %}

     {% block title %}Inscription{% endblock %}

	 {% block stylesheets %} 
	 	{{ parent() }}  
		
		<link href="{{ asset('Resources/bootstrap-datepicker3.min.css') }}" type="text/css" rel="stylesheet" />
	 
	 {% endblock %}

	 {% block javascripts %}
         {{ parent() }}

 
              <script src="{{asset('Resources/bootstrap-datepicker.min.js') }}"></script>
              <script src="{{asset('Resources/bootstrap-datepicker.fr.min.js') }}"></script>
               <script src="{{asset('Resources/Modernizr.js') }}"></script>
               <script src="{{asset('Resources/Bootstrap-growl/jquery.bootstrap-growl.js') }}"></script>

              <script type="text/javascript">
		           $(document).ready(function  () {
		             
		             if(Modernizr.inputtypes.date==false)
		             	
		             	 {
		             	     $('.datepicker').datepicker({
		   				     startDate : '-21915d',
		   				     endDate   : '-6574d',
		   				     language : 'fr',
		   				     todayHighlight :true,
		   				     weekStart : 1 
				                                 })
                         }	           	
		                
		           });       
          
          </script>	
	 {% endblock %}

	 {% block content %}
	  <div class="col-sm-offset-1">
	    <h1 >Inscription</h1>

	        {{ form(form) }}
	  </div>
	 {% endblock %}
